// cores
$green-dark: #004d40;
$green-light: #00796b;
$white: #fff;

section.section-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, $green-light, $green-dark);
    padding: 1rem;
}

mat-error{
    color: red !important;
}

.register-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    width: 100%;
    background: $white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.2);
}

.left-panel {
    background: #00796b;
    color: $white;
    padding: 2rem;
    text-align: center;

    h1 {
        margin-bottom: 1rem;
    }

    .description {
        margin-bottom: 2rem;
    }

    .illustration {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }
}

.right-panel {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .register-form {
        width: 100%;
        max-width: 360px;
        display: grid;
        gap: 1rem;

        h2 {
            text-align: center;
            color: $green-dark;
            margin-bottom: 1rem;
        }

        mat-form-field {
            width: 100%;
        }

        .btn-register {
            width: 100%;
            margin-top: 0.5rem;
            background-color: #00796b;
            border-radius: 15px;
            color: white;
            font-size: 1.2rem;
        }

        .footer {
            text-align: center;
            font-size: 1.1rem;
            margin-top: 1rem;

            a {
                color: $green-dark;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

// responsividade
@media (max-width: 768px) {
    .register-container {
        grid-template-columns: 1fr;
    }
}