<div class="appointment-list-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Minhas Consultas</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            @if(isLoading) {
            <div class="loading-container">
                <mat-spinner></mat-spinner>
            </div>
            } @else if(appointments.length === 0) {
            <div class="empty-state">
                <mat-icon>calendar_today</mat-icon>
                <p>Você não possui consultas agendadas.</p>
                <button mat-raised-button color="primary" routerLink="/appointments/create">
                    Agendar Consulta
                </button>
            </div>
            } @else {
            <div class="appointments-list">
                @for(appointment of appointments; track appointment.id) {
                <mat-card class="appointment-card">
                    <div class="appointment-header">
                        <div class="appointment-info">
                            <!-- <h3>{{ appointment.speciality }}</h3> -->
                            <p>
                                <strong>{{ userRole === 'doctor' ? 'Paciente' : 'Médico' }}:</strong>
                                <!-- {{ userRole === 'doctor' ? appointment.patientName : appointment.doctorName }} -->
                            </p>
                        </div>
                        <!-- <div class="appointment-status" [ngClass]="getStatusClass(appointment.status)">
                            {{ getStatusLabel(appointment.status) }}
                        </div> -->
                    </div>

                    <div class="appointment-details">
                        <!-- <p><mat-icon>calendar_today</mat-icon> {{ formatDate(appointment.appointmentDate) }}</p> -->
                        <!-- <p><mat-icon>access_time</mat-icon> {{ appointment.time }}</p> -->
                    </div>

                    @if(appointment.description) {
                    <div class="appointment-notes">
                        <strong>Observações:</strong>
                        <p>{{ appointment.description }}</p>
                    </div>
                    }

                    <div class="appointment-actions">
                        <!-- @if(appointment.status === 'Agendado' || appointment.status === 'Confirmar') { -->
                        <button mat-button color="accent" (click)="rescheduleAppointment(appointment)">
                            <mat-icon>edit_calendar</mat-icon> Reagendar
                        </button>
                        <!-- <button mat-button color="warn" (click)="cancelAppointment(appointment)">
                            <mat-icon>cancel</mat-icon> Cancelar
                        </button> -->
                        <!-- } -->
                    </div>
                </mat-card>
                }
            </div>
            }
        </mat-card-content>
    </mat-card>
    </div>