.full-width {
    width: 100%;
    margin-bottom: 1rem;
}   

.mat-opption {
    background: #efeaea !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;

}